<div class="tile row flex-center space-between">
    <div class="row flex-center">
        <%= image_tag gravatar_url(user.email), alt: "user avatar", class: "user-avatar" %>
        <div class="user-info">
            <%= link_to contained(user.display_name), user %>
            <% if user != current_user %>
                <div class="mini-list left-list">
                    <%= render "layouts/list", collection: user.friends.merge(current_user.friends), type: "mutual friend" %>
                </div>
            <% end %>
        </div>
    </div>
    <% if user != current_user %>
        <div class="user-btns col gambiarra2 -vtc">
            <%= render "layouts/action", action: "friend", resource: user, collection: user.friends.ids %>
        </div>
    <% end %>
</div>
