<div class="post-header row space-between flex-start">
    <%= render "posts/info", post: post %>
    <% if current_user == post.user %>
        <%= render "posts/options", post: post %>
    <% end %>
</div>