<p><%= pluralize count = collection.count, type %></p>
<% if count > 0 %>
    <ul class="d-none">
        <% collection.distinct.each do |user| %>
            <li><%= link_to contained(user.display_name), user %></li>
        <% end %>
    </ul>
<% end %>