<%= link_to find_shared(resource), method: "delete", data: { confirm: "Delete shared post?" }, class: "i-container row flex-center center un-" do %>
    <i class="far fa-share-square"></i>
    <p>Share</p>
<% end %>
