<a href="<%= post_path(Post.find_by(user_id: current_user.id, shared_from_id: post.shared_from_id || post.id)) %>" data-method="delete" class="i-container row flex-center center un-">
    <i class="far fa-share-square"></i>
    <p>Share</p>
</a>