/* FLEXBOX */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.flex-start {
    align-items: flex-start;
}

.flex-center {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}
