.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: purple;
    box-shadow: 0 0 2px black;
    z-index: 9;
    i {
        font-size: 15px;
    }
    a {
        color: white;
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        text-decoration: none;
        margin: 6px 0;
        padding: 5px 12px;
        border-radius: 3px;
        position: relative;
    }
    a:not(:first-of-type):before {
        content: "";
        height: 20px;
        border-left: 1px solid rgba(88, 0, 88, 0.3);
        position: absolute;
        left: 0;
        bottom: 5px;
    }
    a:not(:last-of-type):before {
        content: "";
        height: 18px;
        border-right: 1px solid rgba(88, 0, 88, 0.3);
        position: absolute;
        right: 0;
        bottom: 5px;
    }
    a:not(.nav-logo):hover {
        background-color: rgba(88, 0, 88, 0.5);
    }
    // a:hover > .p-hover {
    //     display: block;
    //     position: absolute;
    //     bottom: -10px;
    //     right: 3px;
    //     white-space: nowrap;
    //     font-size: 12px;
    //     font-weight: normal;
    //     line-height: 11px;
    //     padding: 3px;
    //     background-color: rgba(0, 0, 0, 0.5);
    //     border-radius: 2px;
    // }
    .nav-avatar {
        padding: 2px 12px 2px 3px;
        img {
            width: 24px;
            height: 24px;
            margin: 0;
            margin-right: 5px;
            border-radius: 50%;
        }
    }
    .nav-logo {
        height: 28px;
        padding: 0;
    }
}
.notifications {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    padding: 2px 3px;
    background-color: red;
    border-radius: 2px;
}

@media (max-width: 650px) {
    .logo-p {
        display: block;
    }
    .logo-g {
        display: none;
    }
}
